<div class="login-alert">
    <app-notifications id="login-alert"></app-notifications>
</div>
<div class="col-md-4 col-md-offset-4">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" class="form-group">
    <h2 class="form-signin-heading">Please log in</h2>

        <input  type="text" class="form-control" ngModel name="username" id="username-input" required placeholder="Username" autofocus/>
    <!--<div *ngIf="loginForm.submitted && !inputUsername.valid" class="alert alert-danger">Username is required</div>-->

        <input type="password" class="form-control" ngModel name="password" id="password-input" required placeholder="Password" />

        <button class="btn btn-primary btn-block" id="login" type="submit">Log in</button>
    </form>
</div>
