<div class="row">
  <div class="col-md-6 panel-wrapper">
    <div class="panel panel-default panel-fixed-height">
      <div class="panel-heading">
        Information
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td class="col-sm-3">Mode</td>
              <td class="col-sm-9"><span class="label label-info">{{mode}}</span></td>
            </tr>
            <tr>
              <td class="col-sm-3">Destination</td>
              <td class="col-sm-9">
                  <code>*.hoverfly.io</code>   
              </td>
              <!--
              <td class="col-sm-7"><code>{{destination}}</code></td>
              -->
            </tr>
            <tr>
              <td class="col-sm-3">Version</td>
              <td class="col-sm-9">{{version}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 panel-wrapper">
    <div class="panel panel-default">
      <div class="panel-heading">
        Mode selector
      </div>
      <div class="panel-body text-center">
        <div class="btn-group btn-group-mode">
          <a (click)="setMode($event)" name="capture" class="btn btn-default btn-xs btn-mode">Capture</a>
          <a (click)="setMode($event)" name="simulate" class="btn btn-default btn-xs btn-mode">Simulate</a>
          <a (click)="setMode($event)" name="modify" class="btn btn-default btn-xs btn-mode">Modify</a>
          <a (click)="setMode($event)" name="synthesize" class="btn btn-default btn-xs btn-mode">Synthesize</a>
        </div>
      </div>
     </div> 
  <div class="panel panel-default">
    <div class="panel-heading">
      Request counters
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-counters">
            <tr>
              <th>Captured</th>
              <th>Simulated</th>
              <th>Modified</th>
              <th>Synthesized</th>
            </tr>
            <tr>
              <td><span class="label label-default">90,423,221</span></td>
              <td><span class="label label-default">201,776,003</span></td>
              <td><span class="label label-default">254,909,111,233</span></td>
              <td><span class="label label-default">6</span></td>
              <!--
              <td>{{countersCaptured}}</td>
              <td>{{countersSimulated}}</td>
              <td>{{countersModified}}</td>
              <td>{{countersSynthesized}}</td>
              -->
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
    <div class="col-md-6 panel-wrapper">
      <div class="panel panel-default">
        <div class="panel-heading">
          Middleware
        </div>
        <div class="panel-body">

          <div class="table-responsive">
              <table class="table">
                <tr>
                  <td class="col-sm-5">Remote</td>
                  <td class="col-sm-7"><code>{{middlewareRemote}}</code></td>
                </tr>
                <tr>
                  <td class="col-sm-5">Binary</td>
                  <td class="col-sm-7"><code>{{middlewareBinary}}</code></td>
                </tr>
              </table>
            </div>

          <div>
            <p>Script</p>
            <pre class="pre-scrollable pre-middleware">
              <code>{{middlewareScript}}</code>
            </pre>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 panel-wrapper">
      <div class="panel panel-default">
        <div class="panel-heading">
          Charts
        </div>
        <div class="panel-body">

        </div>
  </div>