<div class="row">
  <div class="col-md-6 panel-wrapper">
    <div class="panel panel-default panel-fixed-height">
      <div class="panel-heading">
        Information
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td class="col-sm-3">Mode</td>
              <td class="col-sm-9" id="hoverfly-info-mode"><span class="label label-info">{{ hoverfly.mode }}</span></td>
            </tr>
            <tr>
              <td class="col-sm-3">Destination</td>
              <td class="col-sm-9" id="hoverfly-info-dest">
                  <code>{{ hoverfly.destination }}</code>
              </td>
            </tr>
            <tr>
              <td class="col-sm-3">Version</td>
              <td class="col-sm-9" id="hoverfly-info-ver">{{ hoverfly.version }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 panel-wrapper">
    <div class="panel panel-default">
      <div class="panel-heading">
        Mode selector
      </div>
      <div class="panel-body text-center">
        <div class="btn-group btn-group-mode">
          <a (click)="setMode($event)" name="capture" class="btn btn-default btn-xs btn-mode">Capture</a>
          <a (click)="setMode($event)" name="simulate" class="btn btn-default btn-xs btn-mode">Simulate</a>
          <a (click)="setMode($event)" name="modify" class="btn btn-default btn-xs btn-mode">Modify</a>
          <a (click)="setMode($event)" name="synthesize" class="btn btn-default btn-xs btn-mode">Synthesize</a>
        </div>
      </div>
     </div> 
  <div class="panel panel-default">
    <div class="panel-heading">
      Request counters
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-counters">
            <tr>
              <th>Captured</th>
              <th>Simulated</th>
              <th>Modified</th>
              <th>Synthesized</th>
            </tr>
            <tr id="hoverfly-counters">
              <td><span class="label label-default">{{ hoverfly?.usage?.counters?.capture || 0 }}</span></td>
              <td><span class="label label-default">{{ hoverfly?.usage?.counters?.simulate || 0 }}</span></td>
              <td><span class="label label-default">{{ hoverfly?.usage?.counters?.modify || 0 }}</span></td>
              <td><span class="label label-default">{{ hoverfly?.usage?.counters?.synthesize || 0 }}</span></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
    <div class="col-md-6 panel-wrapper">
      <div class="panel panel-default">
        <div class="panel-heading">
          Middleware
        </div>

        <div id="hoverfly-middleware-details" class="panel-body" *ngIf="hoverfly.middleware; else defaultMiddlewareMessage">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td class="col-sm-5">Remote</td>
                <td class="col-sm-7" id="hoverfly-middleware-details-remote" ><code>{{ hoverfly.middleware.remote }}</code></td>
              </tr>
              <tr>
                <td class="col-sm-5">Binary</td>
                <td class="col-sm-7" id="hoverfly-middleware-details-binary"><code>{{ hoverfly.middleware.binary }}</code></td>
              </tr>
            </table>
          </div>
          <div>
            <p>Script</p>
            <pre class="pre-scrollable pre-middleware" id="hoverfly-middleware-details-script">
              <code>{{ hoverfly.middleware.script }}</code>
            </pre>
          </div>
        </div>

        <ng-template #defaultMiddlewareMessage>
          <div id="hoverfly-middleware-default-body" class="panel-body" >No middleware is set.</div>
        </ng-template>

      </div>
    </div>
</div>