/* You can add global styles to this file, and also import other style files */
@import url('https://specto-static-stage.firebaseapp.com/css/style.css');


.hoverfly-logo-sm-white {
    margin: 0;
    letter-spacing: 1px;
}

.main {
    margin-top: 75px;
}

p {
    font-size: 14px;
}

pre, code {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    max-width: auto;
}

.panel-wrapper {
    margin-bottom: 10px;
}

.panel {
    padding: 7px;
}

.panel-fixed-height {
    height: 306px;
}

@media screen and (max-width: 991px) {
    .panel-fixed-height {
        height: auto;
    }
}

.table>tbody>tr, .table>tbody>th {
    font-size: 14px;
    font-weight: normal;
}

.table>tbody>tr>td {
    padding-left: 0;
    padding-right: 0;
}

.panel-body {
    padding-top: 8px;
}

.label {
    font-weight: normal;
    font-size: 13px;
}

.btn-group-mode {
    margin-bottom: 7px;
}

.btn-mode {
    font-size: 14px;
    height: auto;
    padding: 10px 12px;
}

.table-responsive {
    border: 0;
    margin-bottom: 0;
}

.table-counters {
    margin: 0;
}

.table-counters>tbody>tr>th,
.table-counters>tbody>tr>td {
    border: 0;
    text-align: center;
}

.pre-middleware {
    max-height: 450px;
    margin-top: 5px;
}

.pre-middleware > code {
    font-size: 12px;
}